@font-face {
  font-family: "MOSCOW2024";
  /* при измении шрифта менять все его упоминания в коде */
  src: url("fonts/MOSCOW2024.otf");
}

body {
  font-family: MOSCOW2024;

  margin: 0;

  display: flex;

  flex-direction: column;

  align-items: center;

  background-color: #580058;
  color: darkorange;
  animation: fadeInTopRight;
  animation-duration: 0.8s;
  overflow-x: hidden;
}

#enter_tav {
  position: relative;
  border-style: none;
}
#q1 {
  position: relative;
  font-weight: cursive;
}
#playpause {
  position: absolute;
  border-style: none;
  top: 1.1%;
  right: -0.3em;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  animation: flash;
  --animate-repeat: 3;
  animation-duration: 9s;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
#note {
  color: #35c435;
  position: relative;
  animation: heartBeat;
  --animate-repeat: 3;
  animation-duration: 3s;
}
