@font-face{
	font-family: "My comic";
	src: url("Comic.ttf") format("truetype");
}
body {
	 font-family: My comic;
	
    margin: 0;

    display: flex;

    flex-direction: column;

    align-items: center;

    height: 100vh;

    background-color: #000000;
    color: grey;
}