@font-face {
	font-family: "Moscow";
	src: url("fonts/MOSCOW2024.otf");
}
body {
	font-family: Moscow;

	margin: 0;

	display: flex;

	flex-direction: column;

	align-items: center;

	height: 100vh;

	background-color: #000000;
	color: grey;
}
